<h3> Song Form</h3>

<%= form_for(@song) do |f| %>
<%= f.label :title%><br>
<%= f.text_field :title %><br>

<% artist_names = Artist.all.map{|a| a.name} %>
<% genre_title = Genre.all.map{|a| a.title} %>

<%= f.label :artist%><br>
<%= f.collection_select :artist_id, Artist.all, :id, :name%>

<%= f.label :genre%><br>
<%= f.collection_select :genre_id, Genre.all, :id, :title%>

<%= f.submit%>
<% end %>